<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.minnan.stock.domain.mapper.StockInfoMapper">

    <!--批量添加股票信息-->
    <insert id="addStockInfoBatch">
        insert into stock_info (stock_name, stock_nick_code, stock_code, detected)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.stockName}, #{item.stockNickCode}, #{item.stockCode}, #{item.detected})
        </foreach>
    </insert>

    <!--批量添加股票历史价格数据-->
    <insert id="insertStockPriceHistoryBatch">
        insert into stock_price_history
        (stock_id,stock_code, start_price, end_price, highest_price, lowest_price, volume, note_date, create_time,
        price_differ_rate, avg_price_past_120_days, tag)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.stockId},#{item.stockCode}, #{item.startPrice}, #{item.endPrice}, #{item.highestPrice},
            #{item.lowestPrice},#{item.volume},#{item.noteDate}, now(), #{item.priceDifferRate},
            #{item.avgPricePast120Days},#{item.tag})
        </foreach>
        on duplicate key update start_price                  = values(start_price),
                                end_price                    = values(end_price),
                                highest_price                = values(highest_price),
                                lowest_price                 = values(lowest_price),
                                volume                       = values(volume),
                                create_time                  = now(),
                                price_differ_rate            = values(price_differ_rate),
                                avg_price_past_120_days      = values(avg_price_past_120_days),
                                tag                          = values(tag)
    </insert>

    <!--查询符合条件的股票-->
    <select id="getEligibleStockList" resultType="site.minnan.stock.domain.vo.EligibleStockListVO">
        select t1.id id, t1.stock_id, t2.stock_code stockCode, t2.stock_name stockName,
            t1.start_price startPrice, t1.end_price endPrice, t1.highest_price highestPrice,
            t1.lowest_price lowestPrice, t1.avg_price_past_120_days avgPricePast120Days
        from stock_price_history t1
            left join stock_info t2 on t1.stock_id = t2.id
        where note_date = #{noteDate}
            and t1.end_price_last &lt; t1.avg_price_past_120_days_last
            and t1.end_price &gt; t1.avg_price_past_120_days
        limit #{start}, #{pageSize}
    </select>

    <!--计算符合条件的股票数量-->
    <select id="countEligibleStock" resultType="java.lang.Integer">
        select count(1)
        from stock_price_history t1
            left join stock_info t2 on t1.stock_id = t2.id
        where note_date = #{noteDate}
            and t1.end_price_last &lt; t1.avg_price_past_120_days_last
            and t1.end_price &gt; t1.avg_price_past_120_days
    </select>
</mapper>